.selector {
  display: flex;
  align-items: center;

  p {
    margin: 0 10px 0 0;
  }

  select {
    padding: 10px 20px;

    outline: none;
    border: 1px solid #ffdf8c;
    border-radius: 10px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    transition: all 0.2s linear;
    color: #7b7b7b;

    &:focus,
    &:hover {
      box-shadow: 0 0 15px #ffdf8c;
    }
  }

  @media screen and (max-width: 420px) {
    select {
      width: 100%;
    }
  }
}

